#weekDayButton {
	background: rgb(61, 61, 61);
}
#weekDayButtonACTIVE {
	background: rgb(255, 255, 255);
}
#weekEndButton {
	background: rgb(61, 61, 61);
}

#weekEndButtonACTIVE {
	background: rgb(255, 255, 255);
}
#SundayButton {
	background: rgb(61, 61, 61);
}
#SundayButtonACTIVE {
	background: rgb(255, 255, 255);
}
#MondayButton {
	background: rgb(61, 61, 61);
}

#MondayButtonACTIVE {
	background: rgb(255, 255, 255);
}
#TuesdayButton {
	background: rgb(61, 61, 61);
}

#TuesdayButtonACTIVE {
	background: rgb(255, 255, 255);
}
#WednesdayButton {
	background: rgb(61, 61, 61);
}

#WednesdayButtonACTIVE {
	background: rgb(255, 255, 255);
}
#ThursdayButton {
	background: rgb(61, 61, 61);
}

#ThursdayButtonACTIVE {
	background: rgb(255, 255, 255);
}
#FridayButton {
	background: rgb(61, 61, 61);
}

#FridayButtonACTIVE {
	background: rgb(255, 255, 255);
}
#SaturdayButton {
	background: rgb(61, 61, 61);
}

#SaturdayButtonACTIVE {
	background: rgb(255, 255, 255);
}